<div class="singleModel">
    <div class="panel panel-default">
        <div class="panel-heading">Single Detail</div>
        <div class="panel-body" *ngIf="!loading">
          <h5>{{single}}</h5>
          <div class="logo-here col-sm-12">
            <div class="logo">
              <img src="{{singleDetail.logo}}" class="img-responsive">
              <p>{{singleDetail.size}}</p>
            </div>
          </div>
          <form class="smart-form">
           <section>
              <label class="label">Project Name:</label>
              <label class="select">
                <select>
                  <option value="0">Choose name</option>
                  <option value="1">Alexandra</option>
                  <option value="2">Alice</option>
                  <option value="3">Anastasia</option>
                  <option value="4">Avelina</option>
                </select> <i></i> </label>
            </section>
            <section>
              <label class="label">Select infrastructure</label>
              <label class="select">
                <select>
                  <option value="0">Choose name</option>
                  <option value="1">Alexandra</option>
                  <option value="2">Alice</option>
                  <option value="3">Anastasia</option>
                  <option value="4">Avelina</option>
                </select> <i></i> </label>
            </section>

          </form>
          <div class="other-detail">
            <div class="environment col-sm-12">
              <div class="col-sm-12">
                <div class="form-group custom-spinner">
                  <label>Memory(GB):</label>
                  <input class="form-control spinner-left" name="spinner" value="4"
                        [saUiSpinner]>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group custom-spinner">
                  <label>Memory(GB):</label>
                  <input class="form-control spinner-left" name="spinner" value="4"
                        [saUiSpinner]>
                </div>
              </div>
            </div>
            <div class="col-sm-12 storage">
              <label class="col-sm-12">Storage(GB): {{storage}}</label>
              <div class="col-sm-12 r-slider">
                <nouislider [connect]="true" [min]="minValue" [max]="maxValue" [step]="1" [(ngModel)]="ValueRange" (ngModelChange)="valueUpdate($event)"></nouislider>
              </div>
              <div class="col-sm-12">
                <div class="form-group custom-spinner">
                  <label>No of Instances(GB):</label>
                  <input class="form-control spinner-left" name="spinner" value="4"
                        [saUiSpinner]>
                </div>
              </div>
              <div class="col-sm-12 submit-button">
                <button class="btn btn-default">Start up</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>