<div id="content">  
  <div class="row">
    <sa-big-breadcrumbs [items]="['Infrastructure']" icon="list-alt" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>   
  </div>

  <div class="row">
      <div class="col-sm-12">
          <div class="well">

              <h1>sdfsdfadsfadsfasdf <i>blank</i></h1>
              <p>sfasfasfdsfsderit unde voluptatem.</p>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-sm-12">
          <div class="well">

              <h1>qwerqrqbnvbnasdf <i>blank</i></h1>
              <p>khjkhjkghgsfsderit unde voluptatem.</p>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-sm-12">
          <div class="well">

              <h1>43534523453sdf <i>blank</i></h1>
              <p>121446524</p>
          </div>
      </div>
</div>