<sa-datatable [options]="options"
              [detailsFormat]="detailsFormat"
              tableClass="display projects-table table table-striped table-bordered table-hover"
              width="100%">
    <thead>
    <tr>
      <th></th>
      <th>Name of Projects</th>
      <th><i
        class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
        Progress
      </th>
      <th><i class="fa fa-fw fa-user"></i>Administrators</th>
      <th>Status</th>
      <th>Performance
      </th>
      <th><i
        class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i>
        Date Modified
      </th>
      <th>Enable</th>
    </tr>
    </thead>

  </sa-datatable>