<div class="single-group">
  <div class="panel panel-default" *ngIf="!loading">
    <div class="panel-heading">Single Group Detail</div>
    <div class="panel-body">
    </div>
    <ul class="list-group">
      <li class="list-group-item">Id: {{singleDetail.id}}</li>
      <li class="list-group-item">Name: {{singleDetail.name}}</li>
      <li class="list-group-item">Status: {{singleDetail.status}}</li>
      <li class="list-group-item">Login Status: {{singleDetail.loginstatus}}</li>
      <li class="list-group-item">Account Status: {{singleDetail.accountstatus}}</li>
      <li class="list-group-item">Groups: {{singleDetail.groups}}</li>
      <li class="list-group-item">Projects: {{singleDetail.projects}}</li>
    </ul>
  </div>
</div>