<div class="policyDetail">
  <div class="panel panel-default">
    <div class="panel-heading">AppStack1</div>
    <div class="panel-body">
      <h2>{{policy}}</h2>
      <sa-datatable [options]="options"
          [detailsFormat]="detailsFormat"
          tableClass="display projects-table table table-striped table-bordered table-hover"
          width="100%"
          >
          <thead>
          <tr>
            <th></th>
            <th>Action</th>
            <th><i
              class="text-muted hidden-md hidden-sm hidden-xs"></i>
              Resource
            </th>
            <th>Request Condition</th>
          </tr>
          </thead>

        </sa-datatable>
    </div>
  </div>
</div>