<div class="infraDetail">
  <div class="panel panel-default">
    <div class="panel-heading">Infra1</div>
    <div class="panel-body">
      <div class="col-sm-6">
        <sa-datatable
            [options]="options"
            paginationLength="true" tableClass="table table-striped table-bordered table-hover smart-form"
            width="100%"
            >
            <thead>
            <tr>
              <th><i
                class="text-muted hidden-md hidden-sm hidden-xs"></i>
                AppStacks
              </th>
            </tr>
            </thead>
          </sa-datatable>
        </div>
    </div>
  </div>
</div>